snippet fdn "A function, optionally with arguments and return type."
fn ${1:function_name}(${2})${3/..*/ -> /}${3};
endsnippet

snippet pfdn "A public function, optionally with arguments and return type."
pub fn ${1:function_name}(${2})${3/..*/ -> /}${3};
endsnippet
